# Nuxt
.nuxt
.output
dist
node_modules
*.local

# Project docs (private)
README.md
readme.md

# Capacitor
/android/.gradle
/android/build
/android/app/build
/android/app/src/main/assets/public
/android/capacitor-cordova-android-plugins

/ios/App/Pods
/ios/App/App.xcworkspace
/ios/App/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db
